
.icon {
	height: 15px;
}

 body, html {
    height: 100%;
    width: 100%;
    background-color: #333232;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Varela Round;
}

html {
	font-size: 13px;
}

#invites {
	z-index: 2;
	position: absolute;
	background-color: #fff;
	width: 222px;
	top: 50px;
	left: 163px;
}

a {
	color: #CBB8A9;
}

a:hover {
	color: #88958D;
}

.g:hover {
	color: green;
}

.r:hover {
	color: red;
}

.text {
	display: inline-block;
	vertical-align: middle;
}

#searchUsers {
	width: 230px;	
}

.profPic {
	width: 40px;
	height: 40px;
}

#logoutForm {
	display: none;
}

#results {
	z-index: 2;
	right: 40px;
	position: absolute;
	background-color: #fff;
	width: 230px;
	top: 25px;
}

.user_info {
	display: inline-block;
	vertical-align: middle;
}

.search_result {
	border: 1px solid #CCCCCC;
	border-top: none;
}
.search_result:hover {
	background-color: #EEEEEE;
}

.user_pic {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 5px;
	display: inline-block;
}

.user_name {
	margin: 0px;
	font-weight: bold;
	color: #000;
}
.user_email {
	margin: 0px;
	font-weight: 100;
	color: #CBB8A9;
}

#viewButtons {
	text-align: center;
	margin-top: 4vh;
}

button {
	background-color: #CBB8A9;
	color: #F1F5F4;
	border-radius: 5px;
	border: none;
	padding: 7px 12px 7px 12px;
}

button:hover {
	background-color: #88958D;
}

#twaps_search, #users_search {
	width: 300px;
	margin: auto;
}

h1 {
	color: #F1F5F4;
	font-weight: bold;
	text-align: center;
	margin: 3px;
}

h3 {
	color: #F1F5F4;
	font-weight: bold;
	text-align: center;
	margin: 2%;
	
}

#main-content  h5, p, ul, li{
	background-color: #F1F5F4;
	margin: 0 20%;
	padding: .5% 2%;
	
}

#team {
	margin-top: 1%;
	margin-left: 30%;
	
}

#team a{
	color: black;
	font-size: 125%;
	background-color: #F1F5F4;
	padding: 1%;
	margin: 1%;
	text-align: center;
}


