 body, html {
    height: 100%;
    width: 100%;
    background-color: #333232;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
	font-size: 13px;
}

#profPic {
	height: 5vh;
	width: 3vw;
}