 body, html {
    height: 100%;
    width: 100%;
    background-color: #333232;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Varela Round;
    overflow: hidden;
}

html {
	font-size: 13px;
}

#invites {
	z-index: 2;
	position: absolute;
	background-color: #fff;
	width: 222px;
	top: 50px;
	left: 163px;
}

a {
	color: #E3E4DB;
}

.g:hover {
	color: green;
}

.r:hover {
	color: red;
}

.text {
	display: inline-block;
	vertical-align: middle;
}

#searchUsers {
	width: 230px;	
}

.profPic {
	width: 40px;
	height: 40px;
}

#logoutForm {
	display: none;
}

#results {
	z-index: 2;
	right: 40px;
	position: absolute;
	background-color: #fff;
	width: 230px;
	top: 25px;
}

.user_info {
	display: inline-block;
	vertical-align: middle;
}

.search_result {
	border: 1px solid #CCCCCC;
	border-top: none;
}
.search_result:hover {
	background-color: #EEEEEE;
}

.user_pic {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 5px;
}

.user_name {
	margin: 0px;
	font-weight: bold;
	color: #88958D;
}
.user_email {
	margin: 0px;
	font-weight: 100;
	color: #CBB8A9;
}

.card {
    margin: 30px 0 20px 0;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
}

.card.hovercard {
	display: inline-block;
	width: 100%;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #F1F5F4;
    border: 1px solid #E3E4DB;
}

.card.hovercard .cardheader {
    background-color: #88958D;
    background-size: cover;
    height: 70px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    left: -55px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #E3E4DB;
    vertical-align: middle;
}

#userFeed {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 80vh;
	border: 1px solid #E3E4DB;
	border-radius: 3px;
	margin-top: 30px;
	background-color: #F1F5F4;
	color: #A6A6A6;
	padding: 5px;
	overflow: scroll;
}

#friends {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 80vh;
	border: 1px solid #E3E4DB;
	border-radius: 3px;
    margin: 30px 0 20px 0;
    background-color: #F1F5F4;
    color: #A6A6A6;
    padding: 5px;
}

.twapStuff {
	display: inline-block;
	vertical-align: middle;
}

.time {
	display: inline-block;
	margin: 0px;
}

.twapText {
	margin: 0px;
}

.twapDel:hover {
	color: red;
}

ul {
	list-style: none;
	padding: 0px;
}

.friendInfo {
	display: inline-block;
	vertical-align: middle;
}